extends layout/layout

block var
  - var subPage = "admin";

block content
  .login-page
    .form.login-block
      form.register-form
        input(type='text', placeholder='name')
        input(type='password', placeholder='password')
        input(type='text', placeholder='email address')
        button create
        p.message
          | Already registered? 
          a(href='#') Sign In
      form.login-form
        input(type='text', placeholder='username')
        input(type='password', placeholder='password')
        button login
        p.message.hide
          | Not registered? 
          a(href='#') Create an account
