extends layout/layout

block var
  - var subPage = "admin";

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='#') Xin chào: Admin
      
      // /.nav-collapse
  #exTab1.container-fluid
    ul.nav.nav-pills
      li.active
        a(href='#1a', data-toggle='tab') Danh Mục
      li
        a(href='#2a', data-toggle='tab') Danh Sách Sản Phẩm
      li
        a(href='#3a', data-toggle='tab') Kiểm Tra Đơn Hàng
      li
        a(href='#4a', data-toggle='tab') Background color
    .tab-content.clearfix
      #1a.tab-pane.active
        h3 Danh Mục
        form.form-add-list
          .form-group
            input.form-control(type="text", placeholder="Tên danh mục")
          button.btn.btn-default Thêm
        table
          tr
              th ID
              th Tên Danh Mục
              th Trạng Thái
          tr
              td 1
              td Áo Thun Nam
              td Đã kích hoạt
              td 
                button.btn.btn-default Ẩn
          tr
              td 2
              td Áo Thun Nam
              td Đã kích hoạt
              td 
                button.btn.btn-default Ẩn
          tr
              td 3
              td Áo Thun Nam
              td Đã kích hoạt
              td 
                button.btn.btn-default Ẩn
          tr
              td 1
              td Áo Thun Nam
              td Chưa kích hoạt
              td 
                button.btn.btn-default Bật
      #2a.tab-pane
        h3 Danh Sách Sản Phẩm
        table
          tr
              th ID
              th Tên
              th Giá
              th Giá sau giảm
              th Số lượng
              th Phần trăm giảm
              th Thuộc danh mục
          tr
              td 1
              td Tên
              td Giá
              td Giá sau giảm
              td Số lượng
              td Phần trăm giảm
              td Thuộc danh mục
          tr
              td 2
              td Áo Thun Nam
              td Đã kích hoạt
              td 
                button.btn.btn-default Ẩn
          tr
              td 3
              td Áo Thun Nam
              td Đã kích hoạt
              td 
                button.btn.btn-default Ẩn
          tr
              td 1
              td Áo Thun Nam
              td Chưa kích hoạt
              td 
                button.btn.btn-default Bật
      #3a.tab-pane
        h3 Đợn Hàng
        table
          tr
            th ID
            th Tên
            th Giá
            th Giá sau giảm
            th Số lượng
            th Phần trăm giảm
            th Thuộc danh mục
          tr
            td 1
            td Tên
            td Giá
            td Giá sau giảm
            td Số lượng
            td Phần trăm giảm
            td Thuộc danh mục
          tr
            td 2
            td Áo Thun Nam
            td Đã kích hoạt
            td 
              button.btn.btn-default Ẩn
          tr
            td 3
            td Áo Thun Nam
            td Đã kích hoạt
            td 
              button.btn.btn-default Ẩn
          tr
            td 1
            td Áo Thun Nam
            td Chưa kích hoạt
            td 
              button.btn.btn-default Bật
      #4a.tab-pane
        h3 We use css to change the background color of the content to be equal to the tab

