extends layout/layout

block var

block content
    .banner
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          //- a.navbar-brand(href='#') Project name
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Trang Chủ
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Sản Phẩm 
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider(role='separator')
                li.dropdown-header Nav header
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
            li
              a(href='#contact') Khuyến Mãi
            li
              a(href='#contact') Hướng Dẫn Mua Hàng
            li
              a(href='#contact') Đơn Hàng
            li
              a(href='#contact') Liên Hệ
          .nav.navbar-nav.navbar-right
            .icon-cart
                img(src="../images/empty-cart-light.png");
        // /.nav-collapse
    .container
        .row
            .slider-block
                .slider.autoplay
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                    .slider-item
                        img(src="http://lorempixel.com/output/food-q-c-300-150-8.jpg")
                .logo SHOP MINI
    .container
        .row
            .cart-block.order-block
                .col-xs-12
                    h2 Theo Dõi Đơn Hàng
                    input(type="text", placeholder="Mã đơn hàng")
                    button.btn.btn-default(type="submit") Tra cứu
                    .desc
                        span Số đơn hàng: asdasd
                        span Trạng thái: Đang giao hàng
                .col-xs-12
                    .cart
                        table
                            tr
                                th STT
                                th Tên Sản Phẩm
                                th Đơn Giá
                                th Số Lượng
                                th Thành Tiền
                            tr
                                td 1
                                td Áo Thun Nam
                                td 10.000
                                td 
                                    input(type="number", value="1")
                                td Thành Tiền
                            tr
                                td 2
                                td Áo Thun Nam
                                td 10.000
                                td 
                                    input(type="number", value="1")
                                td Thành Tiền
                            tr
                                td 3
                                td Áo Thun Nam
                                td 10.000
                                td 
                                    input(type="number", value="1")
                                td Thành Tiền
                        .total asd
    //- .container
    //-     .row
    //-         .user-block
    //-             .col-xs-12
    //-                 h3 Thông Tin Giao Hàng
    //-                 form(data-parsley-validate)
    //-                     .form-group
    //-                         input#name.form-control(type='text', placeholder="Tên người nhận*", name="fullname", required)
    //-                     .form-group
    //-                         input#address.form-control.address(type='text', placeholder="Địa chỉ người nhận*", required)
    //-                         label Thành Phố
    //-                     .form-group
    //-                         input#phone.form-control(type='text', placeholder="Điện thoại người nhận*", required)
    //-                     .form-group
    //-                         input#email.form-control(type='text', placeholder="Email người nhận*", required )
    //-                     .form-group
    //-                         textarea#desc.form-control(type='text', placeholder="Ghi chú")
    //-                     .form-group
    //-                     button.btn.btn-default(type='submit') Đặt Hàng


    footer
        .footer
            a(href="#", title="facebook") Facebook
            span.name Shop Mini
            .location
                span Địa chỉ của shop - 
                span Số điện thoại
