body {
	font-family: 'Arial';
	font-size: 12px;
	padding-top: 70px;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
img {
	max-width: 100%;
}
.wrapper {
	.navbar {
		margin-bottom: 0;
		background-color: #333;
		li {
			a {
				color: #fff;
			}
		}
		.icon-cart {
			margin: 10px 0;
		}
		.dropdown-menu {
			background-color: #333;
		}
	}
} 	
.slider-block {
	position: relative;
	.logo {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}
}
.grid-items {
	margin-top: 30px;
	.item {
		margin-bottom: 40px;
		span {
			display: block;
		}
		.detail {
			height: 70px;
			span {
				font-size: 14px;
				line-height: 20px;
			}

		}
	}
}
.content-block {
	.desc {
		span {
			display: block;
		}
	}
	.thumb {
		display: block;
		margin-top: 10px;
		border-top: 1px solid darkgrey;
		padding-top: 10px;
		img {
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.cart-block {
	table {
	    border-collapse: collapse;
	    width: 100%;
	}

	td, th {
	    // border: 1px solid #dddddd;
	    text-align: left;
	    padding: 8px;
	}

	tr:nth-child(even) {
	    background-color: #dddddd;
	}
	.cart{
		border: 1px solid #666;
		overflow: hidden;
	}
	.cart-header,
	.cart-body {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			display: inline-block;
			width: 20%;
			&.stt {
				border-right: 1px solid #666;
			}
			&.name {
				width: 20%;
			}
			&.update {
				width: 10%;
			}
			&:first-child {
				width: 5%;
			}
		}
	}
}
.form-order {
	width: 50%;
	.form-group {
		position: relative;
		font-size: 0;
		label {
			position: absolute;
			font-size: 12px;
			width: 20%;
			text-align: center;
			top: 10px;
			right: 0;
		}
		.parsley-errors-list {
			font-size: 12px;
		}
	}
	input {
		&.address {
			display: inline-block;
			width: 80%;
		}
		
	}
}
.footer {
	padding: 10px 0;
	background-color: yellow;
	text-align: center;
	.name {
		display: block;
	}
}

/*Admin*/
@color_1: #FFFFFF;
@color_2: #b3b3b3;
@color_3: #4CAF50;
@color_4: #1a1a1a;
@color_5: #4d4d4d;
@color_6: #000000;
@color_7: #EF3B3A;
@font_family_1: "Roboto", sans-serif;

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.login-block {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	input {
		font-family: @font_family_1;
		outline: 0;
		background: #f2f2f2;
		width: 100%;
		border: 0;
		margin: 0 0 15px;
		padding: 15px;
		box-sizing: border-box;
		font-size: 14px;
	}
	button {
		font-family: @font_family_1;
		text-transform: uppercase;
		outline: 0;
		background: #4CAF50;
		width: 100%;
		border: 0;
		padding: 15px;
		color: @color_1;
		font-size: 14px;
		-webkit-transition: all 0.3 ease;
		transition: all 0.3 ease;
		cursor: pointer;
		&:hover {
			background: #43A047;
		}
		&:active {
			background: #43A047;
		}
		&:focus {
			background: #43A047;
		}
	}
	.message {
		margin: 15px 0 0;
		color: @color_2;
		font-size: 12px;
		a {
			color: @color_3;
			text-decoration: none;
		}
	}
	.register-form {
		display: none;
	}
}
// .container {
// 	position: relative;
// 	z-index: 1;
// 	max-width: 300px;
// 	margin: 0 auto;
// 	&:before {
// 		content: "";
// 		display: block;
// 		clear: both;
// 	}
// 	&:after {
// 		content: "";
// 		display: block;
// 		clear: both;
// 	}
// 	.info {
// 		margin: 50px auto;
// 		text-align: center;
// 		h1 {
// 			margin: 0 0 15px;
// 			padding: 0;
// 			font-size: 36px;
// 			font-weight: 300;
// 			color: @color_4;
// 		}
// 		span {
// 			color: @color_5;
// 			font-size: 12px;
// 			a {
// 				color: @color_6;
// 				text-decoration: none;
// 			}
// 			.fa {
// 				color: @color_7;
// 			}
// 		}
// 	}
// }
// body {
// 	&.admin {
// 		background: #76b852;
// 		background: -webkit-linear-gradient(right, #76b852, #8DC26F);
// 		background: -moz-linear-gradient(right, #76b852, #8DC26F);
// 		background: -o-linear-gradient(right, #76b852, #8DC26F);
// 		background: linear-gradient(to left, #76b852, #8DC26F);
// 		font-family: @font_family_1;
// 		-webkit-font-smoothing: antialiased;
// 		-moz-osx-font-smoothing: grayscale;
// 	}
// }

#exTab1 .tab-content {
  padding : 5px 15px;
  table {
  	width: 100%;
  }
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.form-add-list {
	.form-group {
		display: inline-block;
		width: 50%;
	}
	.btn {
		display: inline-block;
	}
}